@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Work+Sans:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --bg-color:#F22248;
    --sec-color:#BF0436;
    --third-color:#8C0335;
    --fourth-color:#78022d;

    --white-color:#F2F2F2;

    --font-one: 'Work Sans', sans-serif;
    --font-two: 'Montserrat', sans-serif;

}
::-webkit-scrollbar{
    color: blue;
}
.navbar{
    height:auto;
    width: 100%;
    display: flex;
    background-color: var(--sec-color);
}
.nav{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo{
    display: flex;
    justify-content: row;
    color: var(--white-color);
    font-family: var(--font-one);
}
.logo-content{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.logo-content>img{
    width: 50px;
    margin-right: 5px;
}
.lista{
    display: flex;
    color: var(--white-color);
}
.list-content{
    display: flex;
    flex-direction: row;
}
.list-content>li>a{
    color: var(--white-color);
    margin: 10px;
    font-family: var(--font-one);
}
.procurar{
    background-color: #f1f1f1;
    border: 0px;
    border-radius: 20px;
}
form.procurar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 0px;
    border-radius: 0px 20px 20px 0px;
    float: left;
    width: 80%;
    background-color: transparent;
  }
  
  form.procurar button {
    float: left;
    width: 20%;
    padding: 10px;
    background: transparent;
    color: white;
    font-size: 17px;
    border:  0px;
    border-radius:20px 0px 0px 20px ;
    cursor: pointer;
  }
  
  .procurar:hover {
    background: #8C0335;
  }
  input:hover::placeholder{
      color: #f1f1f1;
  }
  form.procurar::after {
    content: "";
    clear: both;
    display: table;
  }
  .register{
      display: flex;
      align-items: baseline;
  }
  .register-two{
      display: flex;
      flex-direction: row;
      color: var(--white-color);
      font-family: var(--font-two);
      font-size: 11px;
      font-weight: 200;
      justify-content: center;
      align-items: center;
  }
  .register-two>img{
      width: 35px;
      margin-right: 5px;
  }
body{
    background-color: var(--bg-color);
}
.section-1{
    display: flex;
    width: 100%;
    justify-content: center;
}
.first{
    display: flex;
    flex-direction: column;
}
.first-img{
    display: flex;
    align-self: center;
    margin-top: 5em;
    margin-bottom: 1em;
}
.first-img>img{
    width: 65px;
}
.first-text{
    color: var(--white-color);
    font-family: var(--font-one);
    text-align: center;
    display: flex;
    align-self: center;
    margin-bottom: 1em;
}
.first-button{
    display: flex;
    justify-content: center;
    border: 0px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--third-color);
    border-radius: 5px;
}
.first-button:hover{
    background-color: var(--fourth-color);
}
.first-button-one{
    color: var(--white-color);
    font-family: var(--font-one);
    font-size: 16px;
    font-weight:400;
    display: flex;
    flex-direction: row;
}
.first-button-one>img{
    margin-left: 5px;
    width: 18px;
    height: 100%;
}